@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Poppins", sans-serif;
  background: #FFFFFF;
  min-height: 100vh;
  color: white;
}

/* HEADER */
header {
    font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2rem;
  background: #ad3421;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.1rem;
  opacity: 0.9;
}

/* MAIN */

/* Grid layout */
.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Hvert spilkort */
.game-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.game-card:hover {
  transform: scale(1.03);
}

/* Billeder mindre og ens */
.game-poster {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Tekst */
.game-info {
  padding: 10px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.genre,
.players {
  font-size: 12px;
  color: #555;
}
